<input type="hidden" #currentEditedTodo />
<header>
  <h1>todo</h1>
  <input
    class="new-todo"
    [(ngModel)]="newValue"
    (keyup.enter)="addTodo()"
    placeholder="What needs to be done?"
    autofocus
  />
</header>

<section class="main">
  <input id="toggle-all" class="toggle-all" type="checkbox" />
  <label for="toggle-all">Mark all as complete</label>
  <ul class="todo-list">
    <li
      *ngFor="let todo of todoList"
      [ngClass]="{
        completed: todo.state === 3,
        editing: currentEditedTodo.value === todo.id + ''
      }"
    >
      <input type="hidden" [value]="todo.id" />
      <div class="view">
        <input
          class="toggle"
          type="checkbox"
          #inputCheckbox
          (change)="inputCheckbox.checked ? (todo.state = 3) : (todo.state = 1)"
          [checked]="todo.state === 3"
          [indeterminate]="todo.state === 2"
        />
        <label (dblclick)="currentEditedTodo.value = todo.id + ''">
          {{ todo.value }} {{ getStateTodo(todo.state)?.value }}
        </label>
        <button
          class="detail"
          title="Detail"
          (click)="router.navigate(['/todo', todo.id])"
        ></button>
        <button
          class="destroy"
          title="Destroy"
          (click)="removeTodo(todo)"
        ></button>
      </div>
      <div
        *ngIf="currentEditedTodo.value === todo.id + ''"
        (focusout)="
          ($event.target === inputTodo &&
            $event.relatedTarget === selectState) ||
            ($event.target === selectState &&
              $event.relatedTarget === inputTodo) ||
            (currentEditedTodo.value = '')
        "
        class="input-container"
      >
        <input
          #inputTodo
          class="edit"
          autofocus
          [(ngModel)]="todo.value"
          (keyup.enter)="currentEditedTodo.value = ''"
          (keyup.escape)="currentEditedTodo.value = ''"
        />
        <select id="selectState" [(ngModel)]="todo.state" #selectState>
          <option
            *ngFor="let stateTodo of stateTodoList"
            [ngValue]="stateTodo.id"
          >
            {{ stateTodo.value }}
          </option>
        </select>
      </div>
    </li>
  </ul>
</section>
<footer class="footer" *ngIf="todoList.length">
  <span class="todo-count">
    <strong>{{ getNotCompleted().length }}</strong>
    <span [ngPlural]="getNotCompleted().length">
      <ng-template ngPluralCase="one">item left</ng-template>
      <ng-template ngPluralCase="other">items left</ng-template>
    </span>
  </span>
  <ul class="filters">
    <li>
      <a
        ng-class="{ selected: location.path() == '/' }"
        href="#/"
        class="selected"
        >All</a
      >
    </li>
    <li>
      <a ng-class="{ selected: location.path() == '/active' }" href="#/active"
        >Active</a
      >
    </li>
    <li>
      <a
        ng-class="{ selected: location.path() == '/completed' }"
        href="#/completed"
        >Completed</a
      >
    </li>
  </ul>
  <button
    class="clear-completed"
    (click)="todoList = getNotCompleted()"
    *ngIf="getNotCompleted().length !== todoList.length"
  >
    Clear completed
  </button>
</footer>
